input {
  height: 55px;
  border: 1px solid $color-dddddd;

  &::placeholder {
    color: $color-666666;
  }

  &.search-input {
    padding: 10px 15px;
    max-width: 170px;
  }
}

.textarea {
  height: 140px;
  border: 1px solid $color-dddddd;

  &::placeholder {
    color: $color-666666;
  }
}

.category-select {
  appearance: none;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("/public/assets/images/icon/Arrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
  }
}