.blog-section {

    .theme-img {
        height: 380px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        @include media-breakpoint-down(lg) {
            height: 180px;
        }
    }

    .icon-group-wrapper {
        .icon-group {
            width: 15px;
        }
    }
}